.cta{

    &__button{
        width: 15px;
        z-index: 10;
        position: absolute;
    }

    &__detect{
       padding-top: 20px;
       padding-bottom: 20px;
       text-align: center;
    }
}

.footer{

   &__card{
      margin: 10px;
   }

   &__copyright{
      text-align: center;
   }
}

.images{
   width: 100%;
   height: 100%;
}