<div class="footer">

   <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">

      <div class="footer__card" fxFlex="50">
         <mat-card mat-elevation-z8 role=group>
            <mat-card-title>BUY ORIGINAL AUTHENTIC PRODUCT</mat-card-title>
            <mat-card-content>  

               <div class="blurp__content" fxLayout="row" fxLayoutAlign=" center">
                  <button mat-mini-fab color="primary" style="margin-right: 20px;">
                  <mat-icon>verified_user</mat-icon>
                  </button>
                  30 PCS PILLS PER BOTTLE
               </div>

               <div class="blurp__content" fxLayout="row" fxLayoutAlign=" center">
                  <button mat-mini-fab color="primary" style="margin-right: 20px;">
                  <mat-icon>verified_user</mat-icon>
                  </button>
                  COME WITH EXCLUSIVE BLACK BOX
               </div>

               <div class="blurp__content" fxLayout="row" fxLayoutAlign=" center">
                  <button mat-mini-fab color="primary" style="margin-right: 20px;">
                  <mat-icon>verified_user</mat-icon>
                  </button>
                  CLEAR & BOLD WRITING
               </div>

               <div class="blurp__content" fxLayout="row" fxLayoutAlign=" center">
                  <button mat-mini-fab color="primary" style="margin-right: 20px;">
                  <mat-icon>verified_user</mat-icon>
                  </button>
                  NEW PACKING WITH QR CODE
               </div>

               <div class="blurp__content" fxLayout="row" fxLayoutAlign=" center">
                  <button mat-mini-fab color="primary" style="margin-right: 20px;">
                  <mat-icon>verified_user</mat-icon>
                  </button>
                  Scratch codes ON EVERY BOTTLE WITH UNIQUE SERIAL NUMBER
               </div>

               <div class="blurp__content" fxLayout="row" fxLayoutAlign=" center">
                  <button mat-mini-fab color="primary" style="margin-right: 20px;">
                  <mat-icon>verified_user</mat-icon>
                  </button>
                  MADE IN USA
               </div>

               <div class="cta" fxLayout="column" fxLayoutAlign="center center">
                  <div class="cta__detect">
                     *We have detected that you are from {{ contact.country | titlecase }}, please contact our {{ contact.country | titlecase }} representative for any question.
                  </div>
                  <a class="link-button" href="https://t.me/{{ contact.telegram }}" target="blank">
                     <i class="fab fa-telegram" mat-elevation-z8></i>
                     Contact Our Representative in {{ contact.country | titlecase }}
                  </a>                      
               </div>
               <div class="cta" fxLayout="column" fxLayoutAlign="center center">
                  <div class="cta__detect">
                     You can check and authenticate your scratch code by pressing the button below. Do not buy imitation product.
                  </div>
                  <button mat-raised-button color="primary" (click)="authenticateProduct()">
                     <mat-icon>vpn_key</mat-icon>
                     Check or Authenticate your product here!
                  </button>      
               </div>

            </mat-card-content>
         </mat-card>
      </div>

      <div class="footer__card" fxFlex="50"  >

         <mat-card class="mat-elevation-z8" role=group>

            <mat-card-title>CERTIFIED</mat-card-title>
            <mat-card-content>
               <div class="images" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                  <img class="shadow__png-ac" src="assets/logo_icons/safe.png" alt="">
                  <img class="shadow__png-ac" src="assets/logo_icons/gmp.png" alt="">
                  <img class="shadow__png-ac" src="assets/logo_icons/nsf.png" alt="">
                  <img class="shadow__png-ac" src="assets/logo_icons/hus.png" alt="">
                  <img class="shadow__png-ac" src="assets/logo_icons/best.png" alt="">
               </div>               
            </mat-card-content>

         </mat-card>
      </div>

   </div>

   <div class="contact__icon">
      <a href="https://t.me/{{ telegram }}" target="blank">
         <img class="shadow__png-ac" fxFlex="60px" src="assets/icons/telegram.png" alt="Strong Arrow Malaysia Telegram">
      </a>
   </div>

   <div class="toolbar" >
      <mat-toolbar color="primary">
         <div fxLayoutAlign="center">
            Copyright &copy; 2017, www.strongarrowpills.com
         </div>
      </mat-toolbar>
   </div>

</div>
