/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.brand{
    color: #e91e63;
    padding: 0 10px 0 10px;
}

.icon{
    padding: 0 10px 0 10px;
}

h2{ line-height: 2.5rem !important; }

.container{
    margin: 10vh 5vw 10vh 5vw;
}

.text{    

    &__title{
        font-size: 1.8rem;   
        text-align: center;
        padding: 20px;     
    }

    &__subtitle{
        font-size: 1.5rem;
        text-align: left;
        padding: 20px;
    }

    &__p{
        font-size: 1.2rem;
        padding: 20px;
        text-align: left;
    }
}

.card{


    &__title{
        padding: 20px;
        text-align: center;
    }

    &__content{
        text-align: center;
    }
}

.blurp{

    padding: 20px;

    &__content{
        text-align: left;
        padding-left: 20px;
    }
}
