.banner{

    height: 90vh;

    &__image{
        width: 100%;
        height: auto;

    }
}

.intro{

    &__container-content{
        width: 70%;
        text-align: center;
    }

}

.how{
    height: 90vh;

    &__banner{
        width: 100%;
        height: auto;
    }

    &__title{
        text-align: center;
    }
}