
.banner{

    &__image{
        width: 100%;
        height: auto;

    }
}

.intro{

    &__container-content{
        text-align: center;
    }

    &__spinner{
        padding: 20px;
    }

}

.how{

    height: 120%;

    &__title{
        text-align: center;
    }

}

.benefits{

    height: 100%;

    &__image{
        width: 60%;
    }

    &__title{
        text-align: center;
    }

}

.instruction{

    &__card{
        padding: 20px;
    }
}