.container{
    margin: 10vh 5vw 10vh 5vw;
}



.banner{

    margin: 10vh 5vw 10vh 5vw;

    &__image{
        width: 100%;
        height: auto;

    }
}

.intro{

    margin: 10vh 5vw 10vh 5vw;

    &__container-content{
        width: 70%;
        text-align: center;
    }

}

.how{

    height: 120%;

    &__title{
        text-align: center;
    }

    &__content{
        width: 70%;
    }
}

.benefits{

    height: 100%;

    &__image{
        width: 60%;
    }

    &__title{
        text-align: center;
    }

}