
.layout{
   height: 80vh;
}

.auth{
        font-size: 2.8rem;
}

.form{

   &__button-submit{
      width: 100%;
      margin-top: 20px;
   }
}

.card{

   &__review-button{
      width: 100%;
   }
}


