@mixin mat-card-settings($name){

   #{$name}{
      padding: 30px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;  
    
      &-content{
         width: 100%;
         height: 100%;
         box-sizing: border-box;
      }
   }

}