@mixin shadow-settings($name){

   
  .#{$name}{

      &__png-ac{
         -moz-filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
         -webkit-filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
         -ms-filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
         -o-filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
         filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
      }
  }

}