.cta{

    &__button{
        width: 15px;
        z-index: 10;
        position: absolute;
    }

    &__detect{
       padding-top: 10px;
       padding-bottom: 10px;
    }
}

.footer{

   &__card{
      margin: 10px;
   }
}
mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

mat-card-content{
   width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.images{
   width: 100%;
   height: 100%;
}