/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title{ 
    font-size: 2rem;
    text-align: center;

    &__start{
       font-size: 2rem;
       text-align: left;
    }
}

.mb{

      &__ul{
         list-style: none;
      }
}
.content{
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;

    &__100vh{
       height: 100vh;
    }

    &__100pct{
       height: 100%;
    }
}

.container{
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
}

.table{
   width: 100%;

   &__container{
       padding-left: 10px;
       padding-right: 10px;
   }

   &__bulk-edit{
      text-align: left;
   }

   &__th{
       text-align: center;
       font-size: 1.2rem;
       
   }

   &__td{
       text-align: left;
   }
}

.mat-sort-header-button{
  width: 100%;
  text-align: center !important;
}

.brand{
    color: #e91e63;
    padding: 0 10px 0 10px;
}

.icon{
    padding: 0 10px 0 10px;
}

h2{ line-height: 2.5rem !important; }

.card{

    margin: 10px;
    padding: 10px;
    
    &__image{
        max-width: 100% !important;
        height:auto !important;
    }

    &__title{
        padding: 20px;
        text-align: center;
    }

    &__content{
        text-align: center;
    }
}

.instruction{

   &__card{
       padding: 20px;
       background-color: #303030;
   }

   &__title{
      padding: 20px; 
   }
}

.blurp{

    padding: 20px;

    &__content{
        text-align: left;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
   
   .title{ 
      font-size: 1.5rem;
      text-align: center;
      padding: 10px;
   }
   
   .content{
      font-size: 1rem;
      text-align: center;
      padding: 10px;
   }   

   .container{
      padding: 10px;
   }

  }

  .contact{

   &__icon{
      position: fixed;
      z-index: 10;
      right: 30px;
      padding-bottom: 30px;
      bottom: 0;
   }
   
}