.banner{
    padding: 30px;
    

    &__image{
        max-width: 100%;
        height: auto;
    }
}

.intro{

    &__container-content{
        text-align: center;
    }

    &__spinner{
        padding: 20px;
    }

}

.benefits{

    height: 100%;

    &__container{
       width: 60%;
    }

    &__title{
        text-align: center;
    }

}

.instruction{

    &__card{
        padding: 20px;
    }
}