

<div class="card">
      <div mat-card class="card">
         <img mat-card-image src="assets/images/logo.png" alt="">         
      </div>
      <mat-card-content>

         <div class="card__content" *ngIf="data && data.id">
            <h1 class="card__content-header">Congratulation!</h1>
            <p>
               You have purchase an <strong>Original <span class="brand">STRONG ARROW®️</span></strong>  product as below listed detail;
            </p>
            <mat-chip-list class="mat-chip-list-stacked"  aria-label="Color selection">
                  <mat-chip color="primary" selected>Serial no : {{ data.serial }} </mat-chip>
                  <mat-chip color="primary" selected>Market    : {{ data.market | titlecase}} </mat-chip>
                  <mat-chip color="primary" selected>No of try : {{ data.authNo }} </mat-chip>
            </mat-chip-list>
         </div>

         <div class="card__content" *ngIf="data.status == 404">
            <p>You have entered an <strong><span class="brand">IMITATION (NOT ORIGINAL) </span></strong> product as below listed details;</p>
            <mat-chip-list class="mat-chip-list-stacked"  aria-label="Color selection">
                  <mat-chip color="warn" selected>Serial no : {{ data.serial }} </mat-chip>
                  <mat-chip color="warn" selected>Market : {{ data.market || 'Malaysia' | titlecase}} </mat-chip>
            </mat-chip-list>
            
            <p>Would you like to report it to our <span class="brand">STRONG ARROW®️</span> {{ data.market || 'Malaysia' | titlecase}} representative?</p>
         </div>

      </mat-card-content>    
      <mat-card-actions>
         <div class="card__actions" fxLayout fxLayoutAlign="center center">
            <div class="card__actions-report" *ngIf="data && data.id" fxLayout="column" fxLayoutAlign="center center">
               <p><i class="fas fa-exclamation-circle"></i>If number of try is more than "0" and it is not you who checked, please report it to our {{ data.market || 'Malaysia' | titlecase}} <a href=""target="0"><i class="fab fa-whatsapp"></i>representative</a>. Would you like to leave a review?</p>
               <button mat-raised-button color="primary">
                  <mat-icon>rate_review</mat-icon>
                  Leave a review
               </button>
            </div>
            <div class="card__actions-report" *ngIf="data.status == 404">
               <button mat-raised-button color="primary">
                  <i class="fab fa-whatsapp"></i>
                  {{ data.market || 'Malaysia' | titlecase}} Representative
               </button>
            </div>
         </div>
      </mat-card-actions>  
</div>
