<div class="container">

   <div class="card">
         <div mat-card class="card">
            <img mat-card-image src="assets/images/logo.png" alt="">         
         </div>
         <mat-card-content>

            <div class="card__content" *ngIf="data && data.id">
               <h1 class="card__content-header">Congratulation!</h1>
               <p>
                  You have purchase an <strong>Original <span class="brand">STRONG ARROW®️</span></strong>  product as below listed detail;
               </p>
               <mat-chip-list class="mat-chip-list-stacked"  aria-label="Color selection">
                     <mat-chip color="primary" selected>Serial no : {{ data.serial }} </mat-chip>
                     <mat-chip color="primary" selected>Market    : {{ data.market | titlecase}} </mat-chip>
                     <mat-chip color="primary" selected>No of try : {{ data.authNo }} </mat-chip>
               </mat-chip-list>
            </div>

            <div class="card__content" *ngIf="data.status == 404">
               <h1 class="card__content-header">Attention!</h1>
               <p>
                  You have purchase an <strong>IMITATION (Not Original) <span class="brand">STRONG ARROW®️</span></strong>  product as below listed detail;
               </p>
               <mat-chip-list class="mat-chip-list-stacked"  aria-label="Color selection">
                     <mat-chip color="warn" selected>Serial no : {{ data.serial }} </mat-chip>
                     <mat-chip color="warn" selected>Market : {{ data.market || 'Malaysia' | titlecase}} </mat-chip>
               </mat-chip-list>

               
               <p>Would you like to report it to our <span class="brand">STRONG ARROW®️</span> {{ data.market || 'Malaysia' | titlecase}} representative?</p>
            </div>

         </mat-card-content>    
         <mat-card-actions>
            <button mat-raised-button>
               <mat-icon>home</mat-icon>
               {{ data.market || 'Malaysia' | titlecase}} Representative
            </button>
         </mat-card-actions>  
   </div>


</div>